.ui-notification {
  border-radius:10px;
  position:fixed;
  z-index:9999;
  box-shadow:5px 5px 10px rgba(0,0,0,0.3);
  width:300px;
  background:#2FA4E7;
  text-align:center;
  color:white;
}
.ui-notification.clickable { cursor:pointer; }
.ui-notification.clickable:hover { opacity:0.7; }
.ui-notification.killed {
	
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
     opacity: 0;
 }
.ui-notification > h3 {
  display:block;
  margin:10px 10px 0 10px;
  padding:0 0 5px 0;
  text-align:center;
  font-size:;
  font-weight:bold;
  border-bottom:1px solid rgba(0,0,255,0.3);
  border-radius:10px;
}
.ui-notification a { color:bg-success; }
.ui-notification > .message { margin:10px 10px 10px 10px; }
.ui-notification.warning {
  color:;
  background:bg-warning;
}
.ui-notification.error {
  color:;
  background:bg-error;
}
.ui-notification.success {
  color:;
  background:bg-success;
}
.ui-notification.info {
  color:;
  background:bg-info;
}